.HoursAddressCardDesign{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.HoursAddressTitle{
    color: cyan;

    -webkit-text-stroke: 0.02em grey;


    font-size: 1.2em;

}

.HoursAddressText{
    color: white;

    -webkit-text-stroke: 0.02em grey;


    padding: 0em;
    margin: 0em;

}

.HoursAddressSubtext{
    color: grey;

    -webkit-text-stroke: 0.02em grey;

}