node_modules
npm-debug.log*
logs
*.local
.idea
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
pnpm-debug.log*
dist
dist-ssr
*.sln
.DS_Store
*.ntvs*
*.njsproj
!.vscode/extensions.json
*.suo
.vscode/*
*.sw?