.ExtraCardDesign{

    border: solid brown 0.25em;

    background-color: black;

    height: 70vh;
    width: 25vw;

    max-height: 70vh;
    max-width: 25vw;

    opacity: 95%;

    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2em;
    padding-bottom: 2em;

}

.ExtraCardDesign:hover{
    transition: 0.75s;
    
    box-shadow: 0em 0em 2em beige;
}

.ExtraCardDesign:not(:hover){
    transition: 1.5s;
    
}

.ExtraCardLogo{
    height: 15vh;
    width: 20vw;
}

.ExtraCardLogo img{
    height: 100%;
    width: 100%;
}

.ExtraCardTitle{
    font-size: 2em;
    color: beige;

}

.ExtraCardText{
    color:wheat;

    font-size: 1em;
}

.ExtraCardUrl a{
    color: brown;

    font-size: 1.25em;
}

.ExtraCardUrl a:hover{
    transition: 0.5s;

    color: beige;
}

.ExtraCardUrl :not(:hover){
    transition: 0.5s;
}